body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

.container {
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px #0003;
    padding: 12px;
    border-radius: 8px;
}

#click-btn {
    padding: 15px 25px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#click-btn:hover {
    background-color: #2980b9;
}
