body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1449824913935-59a10b8d2000?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: #fffd;
}
.clock {
    
    display: flex;
    justify-content: center;
}

.clock div {
    margin: 5px;
    box-shadow: 0 4px 8px #000a;
    position: relative;
}

.clock span {
    
    
    width: 100px;
    height: 100px;
    background: #3333;
    opacity: 0.8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #0004;
   
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #0193;
    opacity: 0.8;
}

span[id="ampm"] {
    text-transform: uppercase;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: #0995;
}
