body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #000a;
}

.main-container{
    max-width: 550px;
    margin-bottom: 15px;
}

.main-container img{
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;

}

.main-container h1 {
    color: #fffd;
    font-weight: 500;

}

.main-container p {
    color: #fffd;
    margin: 15px 5px;
}

.btn {
    background-color: #fffd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity .3s;
}

.btn:hover{
    opacity: .74;
}


.trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0009;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .74s;

}

.trailer-container video{
    position: relative;
    min-width: 900px;
    outline: none;

}

@media (max-width:991px) {
    .trailer-container video{
        max-width: 90%;
    }
}

.close-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fffd;
    cursor: pointer;
}

.active.trailer-container{
    visibility: hidden;
    opacity: 0;

}